nav .brand-logo
{
  background: url('./assets/logo.svg');
  background-size:70px 70px;
  height:70px;
  width:70px;
  font-size:1.5rem !important;
  margin-left:10px;
  margin-top:5px;
  -webkit-filter: drop-shadow( -0px 5px 5px #000 );
  filter: drop-shadow( -0px 5px 5px #000 );
}

nav .brand-logo a{
  margin-left:75px;
  top:0px;
}

.feedback-form
{
  padding:20px;
}
